@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ---------------------------- */
/* Price Tracker Component */
/* ---------------------------- */

.price-tracker{
  font-family: 'Poppins', sans-serif;

}
.price-tracker--error{

}

/* Main */

.price-tracker--main{
  display: grid;
  grid-template-columns: repeat(7, auto);
  font-weight: 500;
  margin: 0 auto;
  width: 1000px;
  font-size: 14px;
  gap: 1em;
}
.price-tracker--heading{
  margin-bottom: 1em;
  font-size: 15px;
}

.price-tracker--heading.coinName{
  position: sticky;
  left: 0;
  background: white;
}

.price-tracker--coinNames{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: sticky;
  left: 0;
  background: white;

}
.price-tracker--coinName{
  font-weight: 600;
  color: #414141;
}
.price-tracker--coinSymbol{
  font-weight: 500;
  color: #333333c0;
}


.price-tracker--imageWrapper{

}

.loss{
  color: red;
}
.gain{
  color: #16c784;
}

@media only screen and (max-width: 1000px) {
  .price-tracker{
    overflow-x: scroll;
  }
}

.price-tracker--showMoreBtn{
  margin-top: 1em;
  background: #171230;
  display: flex;
  justify-content: center;
  padding: 7px;
  border-radius: 0.5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: sticky;
  left: 0;
}

.loading{
  content: 'loading...';
  background: rgb(167, 167, 167);
}

/* 
News Headline Component
*/

.news-headlines{
  max-width: 1000px;
  margin: 0 auto;
}
.news-headlines--channels{
  display: flex;
  flex-direction: row;
}
.news-headlines--channel-btn {
  cursor: pointer;
  padding: 7px 20px;
  border: 1px solid #171230;
}

.news-headlines--channel-btn.active {
  background: #171230;
  color: white;
}