@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 1em;
}


/* ----------- */
/* Header */
/* ----------- */

header{
  margin: 0 auto;
  max-width: 1000px;
}

.header--title{
  font-size: 3em;
  margin-bottom: 5px;
}

.header--subtitle{
  font-size:1em;
  font-weight: 600;
}


/* ---------------------------- */
/* Price Tracker Component */
/* ---------------------------- */

.price-tracker{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}
.price-tracker--error{

}
.price-tracker--title{
  margin: 1em 0;
  font-size: 2em;
 
}

/* Main */

.price-tracker--main{
  display: grid;
  grid-template-columns: repeat(7, auto);
  font-weight: 500;
  margin: 0 auto;
  width: 1000px;
  font-size: 14px;
  gap: 1em;
}
.price-tracker--heading{
  margin-bottom: 1em;
  font-size: 15px;
}

.price-tracker--heading.coinName{
  position: sticky;
  left: 0;
  background: white;
}

.price-tracker--coinNames{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: sticky;
  left: 0;
  background: white;

}
.price-tracker--coinName{
  font-weight: 600;
  color: #414141;
}
.price-tracker--coinSymbol{
  font-weight: 500;
  color: #333333c0;
}


.price-tracker--imageWrapper{

}

.loss{
  color: red;
}
.gain{
  color: #16c784;
}



.price-tracker--showMoreBtn{
  margin-top: 1em;
  background: #171230;
  display: flex;
  justify-content: center;
  padding: 7px;
  border-radius: 0.5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: sticky;
  left: 0;
}

.loading{
  content: 'loading...';
  background: rgb(167, 167, 167);
}
@media only screen and (max-width: 1000px) {
  .price-tracker{
    overflow-x: scroll;
  }
}

/* 
News Headline Component
*/

.news-headlines{
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid rgba(143, 139, 139, 0.418);
  margin-top: 2em;
}
.news-headlines h1{
  font-size: 2em;
  margin-top: 0.5em;

}
.news-headlines--channels{
  display: flex;
  flex-direction: row;
  margin:2em 0;
}
.news-headlines--channel-btn {
  cursor: pointer;
  padding: 7px 20px;
  border: 1px solid #171230;
}

.news-headlines--channel-btn.active {
  background: #171230;
  color: white;
}

.news-headlines--news-list{
  margin: 2em 0;
}

/* News Card Styling */

.news-card{
  display: flex;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  gap: 5px;
  margin-bottom: 2em;
}
.news-card--content{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  
}
/* ----------- content start*/
.news-card--heading{
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: black;

}
.news-card--date{
  font-weight: 600;
  color: #6d6d6d;
}
.news-card--desc{
  font-weight: 600;
}

/* ----------content end*/

.news-card--imageWrapper{
}
.news-card--imageWrapper img{
  
}

@media only screen and (max-width: 600px){
  .news-card{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .news-card--imageWrapper{
    width: 100%;
  }
  .news-card--imageWrapper img{
    width: 100%;
  }
}